body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
}
.buttons{
    display: flex;
    justify-content: center;
}
.click2{
    display: flex;
    justify-content: center;
}
.click>button{
    background-color: blue;
    color: white;
    padding: 10px;
    margin-right: 200px;
}
.clear>button{
    background-color: red;
    color: white;
    padding: 10px;
}
.click2>button{
    background-color: green;
    color: white;
    padding: 10px;
}